<span style="color:Blue">
Determine a set of test cases/questions and answers and use these to test each package/method.<br>

Check that the:<br>
<ol>
<li>The correct features are used and</li><br>
<li>Calculations are correct</li>
</ol>
</span>

# Questions

To examine the housing tenure component in the context of housing and affordability using American Community Survey (ACS) data, you can ask a variety of questions. Here are ten questions that can help you gain insights into housing tenure:

1. **What is the overall homeownership rate in the area under study?**
   - This question provides an initial understanding of the prevalence of homeownership in the community.

2. **How has the homeownership rate changed over the past decade?**
   - Analyzing trends in homeownership rates can reveal shifts in housing tenure patterns.

3. **What is the homeownership rate broken down by age groups (e.g., young adults, middle-aged, seniors)?**
   - Examining tenure by age group can highlight generational differences in homeownership.

4. **What is the homeownership rate broken down by race and ethnicity?**
   - Investigating tenure by race and ethnicity can uncover disparities in access to homeownership opportunities.

5. **Are there notable gender differences in homeownership rates within the community?**
   - Exploring tenure by gender can reveal gender-based disparities in housing.

6. **What percentage of homeowners have mortgages, and what is the average mortgage debt for homeowners in the area?**
   - Understanding mortgage usage and debt levels can provide insights into housing affordability.

7. **What is the median home value for owner-occupied units in the area?**
   - This question helps assess the affordability of homes for potential buyers.

8. **How do homeownership rates vary across different neighborhoods or regions within the community?**
   - Analyzing geographic variations can highlight areas with higher or lower homeownership rates.

9. **What is the percentage of households in the area that receive housing assistance or subsidies (e.g., Section 8 vouchers)?**
   - This question can shed light on the role of government programs in housing tenure.

10. **What are the reasons cited by renters for not owning homes, and how do these reasons differ across demographic groups?**
    - Survey respondents may provide reasons such as affordability constraints, credit issues, or personal preferences for renting.

These questions can serve as a starting point for your analysis of housing tenure in ACS data. Depending on your specific research objectives and the available data, you may want to explore additional dimensions or conduct more in-depth analyses to better understand housing tenure patterns in your chosen area.

In [1]:
import os
import pandas as pd
from pathlib import Path, PosixPath
from typing import NamedTuple

In [2]:
pd.set_option("display.max_columns", None) # display all columns
pd.set_option("float_format", "{:,}".format)  # display numbers with commas; "{:,.2f}".format for 2 decimals

In [3]:
# NamedTuple type hint
class ParametersType(NamedTuple):
    acs_path: PosixPath # Platform neutral pathlib PosixPath to ACS data
    openai_api_key: str # OpenAI API key

In [4]:
Parameters: ParametersType = ParametersType(
    acs_path = Path("./Data/ACS_2012_21.csv"),
    openai_api_key = os.environ["OPENAI_API_KEY"]
)

# ACS Data

In [5]:
acs_df: pd.DataFrame = pd.read_csv(Parameters.acs_path)
acs_df.drop(columns=["Unnamed: 0"], inplace=True)
display(acs_df.info())
display(acs_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 95 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Geography                                                     520 non-null    object
 1   Geographic Area Name                                          520 non-null    object
 2   Total population                                              520 non-null    int64
 3   Male                                                          520 non-null    int64
 4   Female                                                        520 non-null    int64
 5   Under 5 years                                                 520 non-null    int64
 6   5 to 9 years                                                  520 non-null    int64
 7   10 to 14 years                                                520 non-null    int64
 8   15 to 19 years                                                520 non-null    int64
 9   20 to 24 years                                                520 non-null    int64
 10  25 to 34 years                                                520 non-null    int64
 11  35 to 44 years                                                520 non-null    int64
 12  45 to 54 years                                                520 non-null    int64
 13  55 to 59 years                                                520 non-null    int64
 14  60 to 64 years                                                520 non-null    int64
 15  65 to 74 years                                                520 non-null    int64
 16  75 to 84 years                                                520 non-null    int64
 17  85 years and over                                             520 non-null    int64
 18  Median age (years)                                            520 non-null    float64
 19  18 years and over                                             520 non-null    int64
 20  21 years and over                                             520 non-null    int64
 21  65 years and over                                             520 non-null    int64
 22  One race                                                      520 non-null    int64
 23  Two or more races                                             520 non-null    int64
 24  White                                                         520 non-null    int64
 25  Black or African American                                     520 non-null    int64
 26  American Indian and Alaska Native                             520 non-null    int64
 27  Asian                                                         520 non-null    int64
 28  Native Hawaiian and Other Pacific Islander                    520 non-null    int64
 29  Some other race                                               520 non-null    int64
 30  Hispanic or Latino (of any race)                              520 non-null    int64
 31  Not Hispanic or Latino                                        520 non-null    int64
 32  Total housing units_x                                         520 non-null    int64
 33  YEAR                                                          520 non-null    int64
 34  Total households                                              510 non-null    float64
 35  Households with one or more people under 18 years             510 non-null    float64
 36  Households with one or more people 65 years and over          510 non-null    float64
 37  Average household size                                        510 non-null    float64
 38  Males 15 years and over                                       510 non-null    float64
 39  Never married, Males 15 years and over                        510 non-null    float64
 40  Now married, except separated, Males 15 years and over        510 non-null    float64
 41  Separated, Males 15 years and over                            510 non-null    float64
 42  Widowed, Males 15 years and over                              510 non-null    float64
 43  Divorced, Males 15 years and over                             510 non-null    float64
 44  Females 15 years and over                                     510 non-null    float64
 45  Never married, Females 15 years and over                      510 non-null    float64
 46  Now married, except separated, Females 15 years and over      510 non-null    float64
 47  Separated, Females 15 years and over                          510 non-null    float64
 48  Widowed, Females 15 years and over                            510 non-null    float64
 49  Divorced, Females 15 years and over                           510 non-null    float64
 50  Population 3 years and over enrolled in school                510 non-null    float64
 51  Population 25 years and over                                  510 non-null    float64
 52  Less than 9th grade                                           510 non-null    float64
 53  9th to 12th grade, no diploma                                 510 non-null    float64
 54  High school graduate (includes equivalency)                   510 non-null    float64
 55  Some college, no degree                                       510 non-null    float64
 56  Associate's degree                                            510 non-null    float64
 57  Bachelor's degree                                             510 non-null    float64
 58  Graduate or professional degree                               510 non-null    float64
 59  Native                                                        510 non-null    float64
 60  Foreign born                                                  510 non-null    float64
 61  Language other than English                                   510 non-null    float64
 62  Population 16 years and over                                  520 non-null    int64
 63  In labor force                                                520 non-null    int64
 64  Civilian labor force                                          520 non-null    int64
 65  Employed                                                      520 non-null    int64
 66  Unemployed                                                    520 non-null    int64
 67  Armed Forces                                                  520 non-null    int64
 68  Not in labor force                                            520 non-null    int64
 69  Civilian employed population 16 years and over                520 non-null    int64
 70  Management, business, science, and arts occupations           520 non-null    int64
 71  Service occupations                                           520 non-null    int64
 72  Sales and office occupations                                  520 non-null    int64
 73  Natural resources, construction, and maintenance occupations  520 non-null    int64
 74  Production, transportation, and material moving occupations   520 non-null    int64
 75  Median family income (dollars)                                520 non-null    int64
 76  Mean family income (dollars)                                  520 non-null    int64
 77  Per capita income (dollars)                                   520 non-null    int64
 78  Civilian noninstitutionalized population                      520 non-null    int64
 79  With health insurance coverage                                520 non-null    int64
 80  With private health insurance                                 520 non-null    int64
 81  With public coverage                                          520 non-null    int64
 82  No health insurance coverage                                  520 non-null    int64
 83  Total housing units_y                                         520 non-null    int64
 84  Occupied housing units                                        520 non-null    int64
 85  Vacant housing units                                          520 non-null    int64
 86  Homeowner vacancy rate                                        520 non-null    float64
 87  Rental vacancy rate                                           520 non-null    float64
 88  Median rooms                                                  520 non-null    float64
 89  Median (dollars), Value                                       520 non-null    int64
 90  Owner-occupied units                                          520 non-null    int64
 91  Housing units with a mortgage                                 520 non-null    int64
 92  Housing units without a mortgage                              520 non-null    int64
 93  Median (dollars), Rent                                        520 non-null    int64
 94  No rent paid                                                  520 non-null    int64
dtypes: float64(32), int64(61), object(2)
memory usage: 386.1+ KB

None

,Geography,Geographic Area Name,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over,Median age (years),18 years and over,21 years and over,65 years and over,One race,Two or more races,White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Hispanic or Latino (of any race),Not Hispanic or Latino,Total housing units_x,YEAR,Total households,Households with one or more people under 18 years,Households with one or more people 65 years and over,Average household size,Males 15 years and over,"Never married, Males 15 years and over","Now married, except separated, Males 15 years and over","Separated, Males 15 years and over","Widowed, Males 15 years and over","Divorced, Males 15 years and over",Females 15 years and over,"Never married, Females 15 years and over","Now married, except separated, Females 15 years and over","Separated, Females 15 years and over","Widowed, Females 15 years and over","Divorced, Females 15 years and over",Population 3 years and over enrolled in school,Population 25 years and over,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency),"Some college, no degree",Associate's degree,Bachelor's degree,Graduate or professional degree,Native,Foreign born,Language other than English,Population 16 years and over,In labor force,Civilian labor force,Employed,Unemployed,Armed Forces,Not in labor force,Civilian employed population 16 years and over,"Management, business, science, and arts occupations",Service occupations,Sales and office occupations,"Natural resources, construction, and maintenance occupations","Production, transportation, and material moving occupations",Median family income (dollars),Mean family income (dollars),Per capita income (dollars),Civilian noninstitutionalized population,With health insurance coverage,With private health insurance,With public coverage,No health insurance coverage,Total housing units_y,Occupied housing units,Vacant housing units,Homeowner vacancy rate,Rental vacancy rate,Median rooms,"Median (dollars), Value",Owner-occupied units,Housing units with a mortgage,Housing units without a mortgage,"Median (dollars), Rent",No rent paid
0,0400000US01,Alabama,4777326,2317520,2459806,305091,309360,318484,337159,340808,607797,619112,686672,310336,279202,374441,211411,77453,37.8,3647097,3433673,663305,4710487,66839,3379235,1285740,57219,66512,2901,56469,182268,4595058,2172647,2012,"1,837,576.0","597,337.0","475,330.0",2.54,"1,841,356.0","584,355.0","957,174.0","39,467.0","52,899.0","207,461.0","2,003,035.0","517,693.0","937,087.0","61,290.0","222,434.0","264,531.0","1,220,805.0","3,166,424.0","187,882.0","363,148.0","991,406.0","691,686.0","227,301.0","448,117.0","256,884.0","4,610,592.0","166,734.0","230,806.0",3779457,2265008,2248665,2017887,230778,16343,1514449,2017887,643951,332351,507206,218389,315990,54326,70237,23587,4693822,4039446,3112613,1524117,654376,2172647,1837576,335071,2.5,9.0,5.7,122300,1289324,776946,512378,691,63064
1,0400000US01,Alabama,4817678,2336020,2481658,299571,304412,321104,327579,347110,618482,610792,675347,322017,292003,401417,217634,80210,38.2,3699760,3491373,699261,4741250,76428,3393927,1304167,58134,72528,3737,65898,191838,4625840,2190638,2013,"1,838,683.0","592,093.0","486,161.0",2.55,"1,854,423.0","596,005.0","952,726.0","40,229.0","54,972.0","210,491.0","2,016,442.0","530,755.0","932,261.0","61,058.0","222,995.0","269,373.0","1,222,995.0","3,193,338.0","180,671.0","358,529.0","991,730.0","703,243.0","236,473.0","458,393.0","264,299.0","4,631,045.0","168,232.0","235,741.0",3806434,2259344,2244093,2002163,241930,15251,1547090,2002163,652201,335865,494371,209494,310232,54362,70661,23680,4716915,4061521,3093955,1568842,655394,2178116,1838683,339433,2.5,8.9,5.7,122500,1281604,762450,519154,705,62178
2,0400000US01,Alabama,4799277,2328592,2470685,301925,306456,320031,332287,345240,612596,615375,681953,316960,285880,387589,214771,78214,38.1,3675910,3463812,680574,4727132,72145,3388895,1294437,57376,69176,3345,62114,188294,4610983,2178116,2014,"1,842,174.0","585,393.0","497,517.0",2.55,"1,863,744.0","603,407.0","950,855.0","39,418.0","56,153.0","213,911.0","2,028,847.0","540,860.0","932,449.0","60,148.0","222,066.0","273,324.0","1,215,753.0","3,217,902.0","174,324.0","350,044.0","999,761.0","708,087.0","243,873.0","465,268.0","276,545.0","4,651,201.0","166,477.0","235,709.0",3828799,2253005,2239169,2010453,228716,13836,1575794,2010453,661335,339569,489899,203989,315661,54724,71423,23936,4735953,4095677,3097222,1607735,640276,2190638,1842174,348464,2.6,9.0,5.7,123800,1274196,751234,522962,715,62842
3,0400000US01,Alabama,4841164,2346193,2494971,292771,305707,313980,324809,342489,626564,606216,656639,332234,297361,434510,225663,82221,38.6,3735975,3530912,742394,4755752,85412,3400118,1320276,58977,77731,4858,69651,193503,4647661,2209335,2015,"1,848,325.0","581,680.0","511,256.0",2.55,"1,872,257.0","613,105.0","950,508.0","38,073.0","57,128.0","213,443.0","2,039,158.0","550,811.0","933,161.0","59,843.0","221,378.0","273,965.0","1,206,014.0","3,239,351.0","166,885.0","343,006.0","1,005,295.0","711,180.0","251,335.0","478,812.0","282,838.0","4,663,396.0","167,224.0","235,540.0",3846845,2242401,2229422,2022325,207097,12979,1604444,2022325,673400,339082,488066,200200,321577,55341,71994,24091,4749786,4148627,3122837,1648163,601159,2199329,1848325,351004,2.5,9.0,5.7,125500,1269145,738618,530527,717,63906
4,0400000US01,Alabama,4830620,2341093,2489527,295054,305714,318437,324020,348044,621592,609415,665372,326349,297297,416983,220721,81622,38.4,3718646,3514202,719326,4748974,81646,3396662,1312584,58251,75634,5186,69042,193492,4637128,2199329,2016,"1,851,061.0","572,325.0","525,341.0",2.55,"1,881,213.0","621,892.0","948,574.0","37,310.0","58,482.0","214,955.0","2,047,493.0","559,931.0","932,449.0","58,487.0","222,097.0","274,529.0","1,193,757.0","3,261,408.0","162,018.0","334,018.0","1,009,593.0","714,201.0","258,502.0","492,382.0","290,694.0","4,675,660.0","165,504.0","233,260.0",3864302,2238654,2226504,2042025,184479,12150,1625648,2042025,685523,339793,489112,199303,328294,56828,74189,24736,4761291,4208373,3162223,1687781,552918,2209335,1851061,358274,2.4,9.4,5.7,128500,1267824,730637,537187,728,65161

In [22]:
features: list = [
    "Geographic Area Name",
    "YEAR",
    # "Total housing units_x",
    # "Total housing units_y",
    # "Total households",
    "Occupied housing units",
    "Vacant housing units",
    "Owner-occupied units",
    "Housing units with a mortgage",
    "Housing units without a mortgage",
    "Homeowner vacancy rate",
    "Rental vacancy rate",
]
display(acs_df[features].head())

,Geographic Area Name,YEAR,Occupied housing units,Vacant housing units,Owner-occupied units,Housing units with a mortgage,Housing units without a mortgage,Homeowner vacancy rate,Rental vacancy rate
0,Alabama,2012,1837576,335071,1289324,776946,512378,2.5,9.0
1,Alabama,2013,1838683,339433,1281604,762450,519154,2.5,8.9
2,Alabama,2014,1842174,348464,1274196,751234,522962,2.6,9.0
3,Alabama,2015,1848325,351004,1269145,738618,530527,2.5,9.0
4,Alabama,2016,1851061,358274,1267824,730637,537187,2.4,9.4

In [13]:
[c for c in acs_df.columns.tolist() if c.find("rate") > -1]

['Now married, except separated, Males 15 years and over',
 'Separated, Males 15 years and over',
 'Now married, except separated, Females 15 years and over',
 'Separated, Females 15 years and over',
 'Homeowner vacancy rate',
 'Rental vacancy rate']

In [14]:
1837576+335071

2172647

In [15]:
1838683+339433

2178116

In [16]:
1842174+348464

2190638

In [17]:
776946+512378

1289324

In [23]:
acs_df.YEAR.describe()

count              520.0
mean             2,016.5
std     2.87504712200639
min              2,012.0
25%              2,014.0
50%              2,016.5
75%              2,019.0
max              2,021.0
Name: YEAR, dtype: float64

1. **What is the overall homeownership rate in the area under study?**
   - This question provides an initial understanding of the prevalence of homeownership in the community.

<span style="color:brown">Code was generated by Github Copilot</span>

In [21]:
# Owner occupied rate
acs_df["Owner occupied rate"] = acs_df["Owner-occupied units"] / acs_df["Occupied housing units"]

2. **How has the homeownership rate changed over the past decade?**
   - Analyzing trends in homeownership rates can reveal shifts in housing tenure patterns.

<span style="color:brown">Code was generated by Github Copilot</span>

In [24]:
# How has the homeownership rate changed over time?
acs_df.groupby("YEAR")["Owner occupied rate"].mean()

YEAR
2012    0.669935989046527
2013   0.6650096353511181
2014    0.659445496175559
2015    0.655557058689484
2016   0.6530587935124246
2017   0.6550756543431873
2018   0.6554526803778757
2019   0.6571024559104524
2020    0.661275851255221
2021   0.6642988346293597
Name: Owner occupied rate, dtype: float64

<span style="color:brown">Code was generated by Github Copilot</span>

In [25]:
# By state, how has the homeownership rate changed over time?
acs_df.groupby(["Geographic Area Name", "YEAR"])["Owner occupied rate"].mean()

Geographic Area Name  YEAR
Alabama               2012   0.7016439047963187
                      2013   0.6970228146994343
                      2014   0.6916805904328256
                      2015   0.6866460173400241
                      2016   0.6849174608508309
                                    ...
Wyoming               2017   0.6920521028331675
                      2018   0.6942765468499328
                      2019   0.7039169755889805
                      2020   0.7097255510631091
                      2021   0.7169167537382996
Name: Owner occupied rate, Length: 520, dtype: float64

# <span style="color:red">Cannot answer using data</span>

3. **What is the homeownership rate broken down by age groups (e.g., young adults, middle-aged, seniors)?**
   - Examining tenure by age group can highlight generational differences in homeownership.

<span style="color:brown">Code was generated by Github Copilot</span>

In [26]:
# By state and year, what is the homeownership rate by state broken down by age groups?
acs_df.groupby(["Geographic Area Name", "YEAR", "Age"])["Owner occupied rate"].mean()

KeyError: 'Age'

<span style="color:green">Modified code was generated by Github Copilot</span>

In [31]:
age_features: list = [
    c for c in acs_df.columns.tolist()
    if c.find("years") > -1 and (c[0].isdigit() or c.find("Under") > -1)
]
age_features

['Under 5 years',
 '5 to 9 years',
 '10 to 14 years',
 '15 to 19 years',
 '20 to 24 years',
 '25 to 34 years',
 '35 to 44 years',
 '45 to 54 years',
 '55 to 59 years',
 '60 to 64 years',
 '65 to 74 years',
 '75 to 84 years',
 '85 years and over',
 '18 years and over',
 '21 years and over',
 '65 years and over']

In [ ]:
# By state and year, what is the homeownership rate by state broken down by age groups?
acs_df.groupby(["Geographic Area Name", "YEAR", "Age"])["Owner occupied rate"].mean()

In [ ]:
4. **What is the homeownership rate broken down by race and ethnicity?**
   - Investigating tenure by race and ethnicity can uncover disparities in access to homeownership opportunities.

5. **Are there notable gender differences in homeownership rates within the community?**
   - Exploring tenure by gender can reveal gender-based disparities in housing.

6. **What percentage of homeowners have mortgages, and what is the average mortgage debt for homeowners in the area?**
   - Understanding mortgage usage and debt levels can provide insights into housing affordability.

7. **What is the median home value for owner-occupied units in the area?**
   - This question helps assess the affordability of homes for potential buyers.

8. **How do homeownership rates vary across different neighborhoods or regions within the community?**
   - Analyzing geographic variations can highlight areas with higher or lower homeownership rates.

9. **What is the percentage of households in the area that receive housing assistance or subsidies (e.g., Section 8 vouchers)?**
   - This question can shed light on the role of government programs in housing tenure.

10. **What are the reasons cited by renters for not owning homes, and how do these reasons differ across demographic groups?**
    - Survey respondents may provide reasons such as affordability constraints, credit issues, or personal preferences for renting.