.env contains
OPENAI_API_KEY=<your key without quotes>

In [1]:
import os
import ast
import sqlite3
import openai
import pandas as pd
from pathlib import Path, PosixPath
from typing import NamedTuple
from tabulate import tabulate
from dotenv import dotenv_values
from langchain import OpenAI, SQLDatabase, PromptTemplate, LLMChain
from langchain.chat_models import ChatOpenAI
from langchain.llms import OpenAI
from langchain.prompts import ChatPromptTemplate
from langchain.schema.output_parser import StrOutputParser
from langchain.schema.runnable import RunnablePassthrough  # Try without .passthrough
from langchain_experimental.sql import SQLDatabaseChain

# from langchain.utilities import SQLDatabase

In [2]:
# Column detail NamedTuple
class ColumnDetail(NamedTuple):
    name: str
    type: str
    values: list[str | int | float]

In [3]:
def get_env_values() -> dict[str, str | None]:
    return dotenv_values()

In [4]:
env_values: dict[str, str | None] = get_env_values()


# NamedTuple type hint
class ParametersType(NamedTuple):
    data_dir: PosixPath  # Platform neutral pathlib PosixPath to data directory
    acs_path: PosixPath  # Platform neutral pathlib PosixPath to ACS data
    db_path: PosixPath  # Platform neutral pathlib PosixPath to SQLite3 database
    db_connection: sqlite3.Connection  # SQLite3 database connection
    openai_api_key: str  # OpenAI API key
    huggingfacehub_api_token: str  # HuggingFace API token


Parameters: ParametersType = ParametersType(
    data_dir=Path.cwd() / "Data",
    acs_path=Path.cwd() / "Data/ACS_2012_21.csv",
    db_path=Path.cwd() / "Data/data.sqlite3",
    db_connection=sqlite3.connect(
        Path.cwd() / "Data/data.sqlite3"
    ),  # ":memory:", "Data/data.sqlite3", "Data/acs.sqlite3"
    openai_api_key=env_values["OPENAI_API_KEY"],
    huggingfacehub_api_token=env_values["HUGGINGFACEHUB_API_TOKEN"],
)

In [5]:
class DatabaseInfoExtractor:
    """
    A class for extracting information about tables and columns from a SQLite database.

    Attributes:
    - db_path (str): The path to the SQLite database file.
    - conn (sqlite3.Connection): The connection object to the database.
    - cursor (sqlite3.Cursor): The cursor object for executing SQL queries.

    Methods:
    - extract_info() -> dict[str, dict[str, list[str]]]: Returns a dictionary containing information about each table in the database.
    """

    def __init__(self, db_path: PosixPath) -> None:
        self.db_path = db_path
        self.conn = sqlite3.connect(db_path)
        self.cursor = self.conn.cursor()

    def extract_info(self) -> dict[str, dict[str, list[str]]]:
        tables: dict[str, str] = {}
        self.cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        table_names: list[str] = [row[0] for row in self.cursor.fetchall()]
        for table_name in table_names:
            columns: list[str] = []
            column_types: list[str] = []
            self.cursor.execute(f"PRAGMA table_info({table_name})")
            for row in self.cursor.fetchall():
                columns.append(row[1])
                column_types.append(row[2])
            tables[table_name] = {"columns": columns, "column_types": column_types}

            # Fetch the first five records from the table
            self.cursor.execute(f"SELECT * FROM {table_name} LIMIT 5;")
            records: list[tuple] = self.cursor.fetchall()
            tables[table_name]["records"] = records

        return tables

In [6]:
class AnswerGenerator:
    def __init__(self, question: str, table_text: str, cursor: sqlite3.Cursor) -> None:
        self.question = question
        self.table_text = table_text
        self.cursor = cursor

    def generate_sql_prompt_v1(self) -> str:
        return f"""
Please return a syntactically correct SQLite query answering the following question:

{self.question}

Using the table information below:

{self.table_text}

Always quote the table columns used in the query.

If you are not able to exactly answer the question, please return the following message:

I am not able to answer the question exactly.
        """

    def generate_sql_prompt_v2(self) -> str:
        return f"""
Please return a syntactically correct SQLite query, always quote the columns used in the query, answering the following question:

{self.question}

Using the table information below:

{self.table_text}
        """

    def clean_up_result(self, sql_result, sql) -> str:
        return f"""
Please put the following result in readable format:

{sql_result}

It was generated by this SQL query:

{sql}
        """

    def answer_question(self):
        self.sql_prompt = self.generate_sql_prompt_v1()
        self.sql = llm(self.sql_prompt)
        self.cursor.execute(self.sql)
        self.sql_result = self.cursor.fetchall()
        self.clean_up_result_prompt = self.clean_up_result(self.sql_result, self.sql)
        self.cleaned_result = llm(self.clean_up_result_prompt)

In [7]:
def col_details_to_named_tup(
    table_name: str, db_info: dict[str, dict[str, list]]
) -> dict[int, ColumnDetail]:
    """
    Put the column detail into a NamedTuple.
    """
    values: list[str | int | float] = [
        [t[i] for t in db_info[table_name]["records"]]
        for i in range(len(db_info[table_name]["columns"]))
    ]

    col_details: list[tuple[str, str, list[str | int | float]]] = list(
        zip(
            db_info[table_name]["columns"],
            db_info[table_name]["column_types"],
            values,
        )
    )

    table_detail: dict[int, ColumnDetail] = {
        i: ColumnDetail(*col_detail) for i, col_detail in enumerate(col_details)
    }

    return table_detail

In [8]:
def fmt_df_info_for_tabulation(db_info: dict[str, dict[str, list]]) -> dict[str, list[str, str, str, list[str | int | float]]]:
    """
    Format the database information for tabulation.
    """
    table_summaries: dict[str, list[str, str, str, list[str | int | float]]] = {}

    for table_name, table_info in db_info.items():
        table_summary = []
        column_details: dict[int, ColumnDetail] = col_details_to_named_tup(table_name, db_info)

        for col_detail in column_details.values():
            table_summary.append(
                [table_name, col_detail.name, col_detail.type, col_detail.values]
            )

        table_summaries[table_name] = table_summary

    return table_summaries

In [9]:
# Instantiate DatabaseInfoExtractor
db_info_extractor = DatabaseInfoExtractor(Parameters.db_path)

In [10]:
# Extract information about the database
db_info = db_info_extractor.extract_info()

In [11]:
# Format the database information for tabulation
table_summaries: dict[str, list[str, str, str, list[str | int | float]]] = fmt_df_info_for_tabulation(db_info)

In [12]:
# Connect to the database
db_path: PosixPath = Parameters.db_path
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [13]:
# LLM call Using LangChain
llm = OpenAI(model_name="text-davinci-003", openai_api_key=Parameters.openai_api_key)

In [14]:
# Table headers for tabulation
table_headers = ["Table Name", "Column Name", "Column Type", "First Five Column Values"]

In [15]:
# Table text for ACS table
table_text: str = (
    tabulate(table_summaries["acs"], headers=table_headers, tablefmt="plain") + "\n"
)  # grid

In [18]:
# Question 1
question: str = "How many nine year olds were in Kentucky in 2020?"
Answer = AnswerGenerator(question, table_text, cursor)
Answer.answer_question()
print(Answer.sql_prompt)
print(Answer.sql)
print(Answer.sql_result)
print(Answer.clean_up_result_prompt)
print(Answer.cleaned_result)

Please return a syntactically correct SQLite query answering the following question:

How many nine year olds were in Kentucky in 2020?

Using the table information below:

Table Name    Column Name                                                   Column Type    First Five Column Values
acs           Unnamed: 0                                                    INTEGER        [0, 1, 2, 3, 4]
acs           Geography                                                     TEXT           ['0400000US01', '0400000US01', '0400000US01', '0400000US01', '0400000US01']
acs           Geographic Area Name                                          TEXT           ['Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama']
acs           Total population                                              INTEGER        [4777326, 4817678, 4799277, 4841164, 4830620]
acs           Male                                                          INTEGER        [2317520, 2336020, 2328592, 2346193, 2341093]
acs           Female                                                        INTEGER        [2459806, 2481658, 2470685, 2494971, 2489527]
acs           Under 5 years                                                 INTEGER        [305091, 299571, 301925, 292771, 295054]
acs           5 to 9 years                                                  INTEGER        [309360, 304412, 306456, 305707, 305714]
acs           10 to 14 years                                                INTEGER        [318484, 321104, 320031, 313980, 318437]
acs           15 to 19 years                                                INTEGER        [337159, 327579, 332287, 324809, 324020]
acs           20 to 24 years                                                INTEGER        [340808, 347110, 345240, 342489, 348044]
acs           25 to 34 years                                                INTEGER        [607797, 618482, 612596, 626564, 621592]
acs           35 to 44 years                                                INTEGER        [619112, 610792, 615375, 606216, 609415]
acs           45 to 54 years                                                INTEGER        [686672, 675347, 681953, 656639, 665372]
acs           55 to 59 years                                                INTEGER        [310336, 322017, 316960, 332234, 326349]
acs           60 to 64 years                                                INTEGER        [279202, 292003, 285880, 297361, 297297]
acs           65 to 74 years                                                INTEGER        [374441, 401417, 387589, 434510, 416983]
acs           75 to 84 years                                                INTEGER        [211411, 217634, 214771, 225663, 220721]
acs           85 years and over                                             INTEGER        [77453, 80210, 78214, 82221, 81622]
acs           Median age (years)                                            REAL           [37.8, 38.2, 38.1, 38.6, 38.4]
acs           18 years and over                                             INTEGER        [3647097, 3699760, 3675910, 3735975, 3718646]
acs           21 years and over                                             INTEGER        [3433673, 3491373, 3463812, 3530912, 3514202]
acs           65 years and over                                             INTEGER        [663305, 699261, 680574, 742394, 719326]
acs           One race                                                      INTEGER        [4710487, 4741250, 4727132, 4755752, 4748974]
acs           Two or more races                                             INTEGER        [66839, 76428, 72145, 85412, 81646]
acs           White                                                         INTEGER        [3379235, 3393927, 3388895, 3400118, 3396662]
acs           Black or African American                                     INTEGER        [1285740, 1304167, 1294437, 1320276, 1312584]
acs           American Indian and Alaska Native                             INTEGER        [57219, 58134, 57376, 58977, 58251]
acs           Asian                                                         INTEGER        [66512, 72528, 69176, 77731, 75634]
acs           Native Hawaiian and Other Pacific Islander                    INTEGER        [2901, 3737, 3345, 4858, 5186]
acs           Some other race                                               INTEGER        [56469, 65898, 62114, 69651, 69042]
acs           Hispanic or Latino (of any race)                              INTEGER        [182268, 191838, 188294, 193503, 193492]
acs           Not Hispanic or Latino                                        INTEGER        [4595058, 4625840, 4610983, 4647661, 4637128]
acs           Total housing units_x                                         INTEGER        [2172647, 2190638, 2178116, 2209335, 2199329]
acs           YEAR                                                          INTEGER        [2012, 2013, 2014, 2015, 2016]
acs           Total households                                              REAL           [1837576.0, 1838683.0, 1842174.0, 1848325.0, 1851061.0]
acs           Households with one or more people under 18 years             REAL           [597337.0, 592093.0, 585393.0, 581680.0, 572325.0]
acs           Households with one or more people 65 years and over          REAL           [475330.0, 486161.0, 497517.0, 511256.0, 525341.0]
acs           Average household size                                        REAL           [2.54, 2.55, 2.55, 2.55, 2.55]
acs           Males 15 years and over                                       REAL           [1841356.0, 1854423.0, 1863744.0, 1872257.0, 1881213.0]
acs           Never married, Males 15 years and over                        REAL           [584355.0, 596005.0, 603407.0, 613105.0, 621892.0]
acs           Now married, except separated, Males 15 years and over        REAL           [957174.0, 952726.0, 950855.0, 950508.0, 948574.0]
acs           Separated, Males 15 years and over                            REAL           [39467.0, 40229.0, 39418.0, 38073.0, 37310.0]
acs           Widowed, Males 15 years and over                              REAL           [52899.0, 54972.0, 56153.0, 57128.0, 58482.0]
acs           Divorced, Males 15 years and over                             REAL           [207461.0, 210491.0, 213911.0, 213443.0, 214955.0]
acs           Females 15 years and over                                     REAL           [2003035.0, 2016442.0, 2028847.0, 2039158.0, 2047493.0]
acs           Never married, Females 15 years and over                      REAL           [517693.0, 530755.0, 540860.0, 550811.0, 559931.0]
acs           Now married, except separated, Females 15 years and over      REAL           [937087.0, 932261.0, 932449.0, 933161.0, 932449.0]
acs           Separated, Females 15 years and over                          REAL           [61290.0, 61058.0, 60148.0, 59843.0, 58487.0]
acs           Widowed, Females 15 years and over                            REAL           [222434.0, 222995.0, 222066.0, 221378.0, 222097.0]
acs           Divorced, Females 15 years and over                           REAL           [264531.0, 269373.0, 273324.0, 273965.0, 274529.0]
acs           Population 3 years and over enrolled in school                REAL           [1220805.0, 1222995.0, 1215753.0, 1206014.0, 1193757.0]
acs           Population 25 years and over                                  REAL           [3166424.0, 3193338.0, 3217902.0, 3239351.0, 3261408.0]
acs           Less than 9th grade                                           REAL           [187882.0, 180671.0, 174324.0, 166885.0, 162018.0]
acs           9th to 12th grade, no diploma                                 REAL           [363148.0, 358529.0, 350044.0, 343006.0, 334018.0]
acs           High school graduate (includes equivalency)                   REAL           [991406.0, 991730.0, 999761.0, 1005295.0, 1009593.0]
acs           Some college, no degree                                       REAL           [691686.0, 703243.0, 708087.0, 711180.0, 714201.0]
acs           Associate's degree                                            REAL           [227301.0, 236473.0, 243873.0, 251335.0, 258502.0]
acs           Bachelor's degree                                             REAL           [448117.0, 458393.0, 465268.0, 478812.0, 492382.0]
acs           Graduate or professional degree                               REAL           [256884.0, 264299.0, 276545.0, 282838.0, 290694.0]
acs           Native                                                        REAL           [4610592.0, 4631045.0, 4651201.0, 4663396.0, 4675660.0]
acs           Foreign born                                                  REAL           [166734.0, 168232.0, 166477.0, 167224.0, 165504.0]
acs           Language other than English                                   REAL           [230806.0, 235741.0, 235709.0, 235540.0, 233260.0]
acs           Population 16 years and over                                  INTEGER        [3779457, 3806434, 3828799, 3846845, 3864302]
acs           In labor force                                                INTEGER        [2265008, 2259344, 2253005, 2242401, 2238654]
acs           Civilian labor force                                          INTEGER        [2248665, 2244093, 2239169, 2229422, 2226504]
acs           Employed                                                      INTEGER        [2017887, 2002163, 2010453, 2022325, 2042025]
acs           Unemployed                                                    INTEGER        [230778, 241930, 228716, 207097, 184479]
acs           Armed Forces                                                  INTEGER        [16343, 15251, 13836, 12979, 12150]
acs           Not in labor force                                            INTEGER        [1514449, 1547090, 1575794, 1604444, 1625648]
acs           Civilian employed population 16 years and over                INTEGER        [2017887, 2002163, 2010453, 2022325, 2042025]
acs           Management, business, science, and arts occupations           INTEGER        [643951, 652201, 661335, 673400, 685523]
acs           Service occupations                                           INTEGER        [332351, 335865, 339569, 339082, 339793]
acs           Sales and office occupations                                  INTEGER        [507206, 494371, 489899, 488066, 489112]
acs           Natural resources, construction, and maintenance occupations  INTEGER        [218389, 209494, 203989, 200200, 199303]
acs           Production, transportation, and material moving occupations   INTEGER        [315990, 310232, 315661, 321577, 328294]
acs           Median family income (dollars)                                INTEGER        [54326, 54362, 54724, 55341, 56828]
acs           Mean family income (dollars)                                  INTEGER        [70237, 70661, 71423, 71994, 74189]
acs           Per capita income (dollars)                                   INTEGER        [23587, 23680, 23936, 24091, 24736]
acs           Civilian noninstitutionalized population                      INTEGER        [4693822, 4716915, 4735953, 4749786, 4761291]
acs           With health insurance coverage                                INTEGER        [4039446, 4061521, 4095677, 4148627, 4208373]
acs           With private health insurance                                 INTEGER        [3112613, 3093955, 3097222, 3122837, 3162223]
acs           With public coverage                                          INTEGER        [1524117, 1568842, 1607735, 1648163, 1687781]
acs           No health insurance coverage                                  INTEGER        [654376, 655394, 640276, 601159, 552918]
acs           Total housing units_y                                         INTEGER        [2172647, 2178116, 2190638, 2199329, 2209335]
acs           Occupied housing units                                        INTEGER        [1837576, 1838683, 1842174, 1848325, 1851061]
acs           Vacant housing units                                          INTEGER        [335071, 339433, 348464, 351004, 358274]
acs           Homeowner vacancy rate                                        REAL           [2.5, 2.5, 2.6, 2.5, 2.4]
acs           Rental vacancy rate                                           REAL           [9.0, 8.9, 9.0, 9.0, 9.4]
acs           Median rooms                                                  REAL           [5.7, 5.7, 5.7, 5.7, 5.7]
acs           Median (dollars), Value                                       INTEGER        [122300, 122500, 123800, 125500, 128500]
acs           Owner-occupied units                                          INTEGER        [1289324, 1281604, 1274196, 1269145, 1267824]
acs           Housing units with a mortgage                                 INTEGER        [776946, 762450, 751234, 738618, 730637]
acs           Housing units without a mortgage                              INTEGER        [512378, 519154, 522962, 530527, 537187]
acs           Median (dollars), Rent                                        INTEGER        [691, 705, 715, 717, 728]
acs           No rent paid                                                  INTEGER        [63064, 62178, 62842, 63906, 65161]


Always quote the table columns used in the query.

If you are not able to exactly answer the question, please return the following message:

I am not able to answer the question exactly.


SELECT "5 to 9 years" FROM acs WHERE Geography = '0400000US21' AND YEAR = 2020;
[(275013,)]

Please put the following result in readable format:

[(275013,)]

It was generated by this SQL query:


SELECT "5 to 9 years" FROM acs WHERE Geography = '0400000US21' AND YEAR = 2020;


The result of the SQL query is 275,013, which indicates that in Kentucky in 2020, there were 275,013 people between the ages of 5 and 9 years old.

In [17]:
# Question 2
question: str = "How many nine year olds were in Kentucky by year?"
Answer = AnswerGenerator(question, table_text, cursor)
Answer.answer_question()
print(Answer.sql_prompt)
print(Answer.sql)
print(Answer.sql_result)
print(Answer.clean_up_result_prompt)
print(Answer.cleaned_result)

Please return a syntactically correct SQLite query answering the following question:

How many nine year olds were in Kentucky by year?

Using the table information below:

Table Name    Column Name                                                   Column Type    First Five Column Values
acs           Unnamed: 0                                                    INTEGER        [0, 1, 2, 3, 4]
acs           Geography                                                     TEXT           ['0400000US01', '0400000US01', '0400000US01', '0400000US01', '0400000US01']
acs           Geographic Area Name                                          TEXT           ['Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama']
acs           Total population                                              INTEGER        [4777326, 4817678, 4799277, 4841164, 4830620]
acs           Male                                                          INTEGER        [2317520, 2336020, 2328592, 2346193, 2341093]
acs           Female                                                        INTEGER        [2459806, 2481658, 2470685, 2494971, 2489527]
acs           Under 5 years                                                 INTEGER        [305091, 299571, 301925, 292771, 295054]
acs           5 to 9 years                                                  INTEGER        [309360, 304412, 306456, 305707, 305714]
acs           10 to 14 years                                                INTEGER        [318484, 321104, 320031, 313980, 318437]
acs           15 to 19 years                                                INTEGER        [337159, 327579, 332287, 324809, 324020]
acs           20 to 24 years                                                INTEGER        [340808, 347110, 345240, 342489, 348044]
acs           25 to 34 years                                                INTEGER        [607797, 618482, 612596, 626564, 621592]
acs           35 to 44 years                                                INTEGER        [619112, 610792, 615375, 606216, 609415]
acs           45 to 54 years                                                INTEGER        [686672, 675347, 681953, 656639, 665372]
acs           55 to 59 years                                                INTEGER        [310336, 322017, 316960, 332234, 326349]
acs           60 to 64 years                                                INTEGER        [279202, 292003, 285880, 297361, 297297]
acs           65 to 74 years                                                INTEGER        [374441, 401417, 387589, 434510, 416983]
acs           75 to 84 years                                                INTEGER        [211411, 217634, 214771, 225663, 220721]
acs           85 years and over                                             INTEGER        [77453, 80210, 78214, 82221, 81622]
acs           Median age (years)                                            REAL           [37.8, 38.2, 38.1, 38.6, 38.4]
acs           18 years and over                                             INTEGER        [3647097, 3699760, 3675910, 3735975, 3718646]
acs           21 years and over                                             INTEGER        [3433673, 3491373, 3463812, 3530912, 3514202]
acs           65 years and over                                             INTEGER        [663305, 699261, 680574, 742394, 719326]
acs           One race                                                      INTEGER        [4710487, 4741250, 4727132, 4755752, 4748974]
acs           Two or more races                                             INTEGER        [66839, 76428, 72145, 85412, 81646]
acs           White                                                         INTEGER        [3379235, 3393927, 3388895, 3400118, 3396662]
acs           Black or African American                                     INTEGER        [1285740, 1304167, 1294437, 1320276, 1312584]
acs           American Indian and Alaska Native                             INTEGER        [57219, 58134, 57376, 58977, 58251]
acs           Asian                                                         INTEGER        [66512, 72528, 69176, 77731, 75634]
acs           Native Hawaiian and Other Pacific Islander                    INTEGER        [2901, 3737, 3345, 4858, 5186]
acs           Some other race                                               INTEGER        [56469, 65898, 62114, 69651, 69042]
acs           Hispanic or Latino (of any race)                              INTEGER        [182268, 191838, 188294, 193503, 193492]
acs           Not Hispanic or Latino                                        INTEGER        [4595058, 4625840, 4610983, 4647661, 4637128]
acs           Total housing units_x                                         INTEGER        [2172647, 2190638, 2178116, 2209335, 2199329]
acs           YEAR                                                          INTEGER        [2012, 2013, 2014, 2015, 2016]
acs           Total households                                              REAL           [1837576.0, 1838683.0, 1842174.0, 1848325.0, 1851061.0]
acs           Households with one or more people under 18 years             REAL           [597337.0, 592093.0, 585393.0, 581680.0, 572325.0]
acs           Households with one or more people 65 years and over          REAL           [475330.0, 486161.0, 497517.0, 511256.0, 525341.0]
acs           Average household size                                        REAL           [2.54, 2.55, 2.55, 2.55, 2.55]
acs           Males 15 years and over                                       REAL           [1841356.0, 1854423.0, 1863744.0, 1872257.0, 1881213.0]
acs           Never married, Males 15 years and over                        REAL           [584355.0, 596005.0, 603407.0, 613105.0, 621892.0]
acs           Now married, except separated, Males 15 years and over        REAL           [957174.0, 952726.0, 950855.0, 950508.0, 948574.0]
acs           Separated, Males 15 years and over                            REAL           [39467.0, 40229.0, 39418.0, 38073.0, 37310.0]
acs           Widowed, Males 15 years and over                              REAL           [52899.0, 54972.0, 56153.0, 57128.0, 58482.0]
acs           Divorced, Males 15 years and over                             REAL           [207461.0, 210491.0, 213911.0, 213443.0, 214955.0]
acs           Females 15 years and over                                     REAL           [2003035.0, 2016442.0, 2028847.0, 2039158.0, 2047493.0]
acs           Never married, Females 15 years and over                      REAL           [517693.0, 530755.0, 540860.0, 550811.0, 559931.0]
acs           Now married, except separated, Females 15 years and over      REAL           [937087.0, 932261.0, 932449.0, 933161.0, 932449.0]
acs           Separated, Females 15 years and over                          REAL           [61290.0, 61058.0, 60148.0, 59843.0, 58487.0]
acs           Widowed, Females 15 years and over                            REAL           [222434.0, 222995.0, 222066.0, 221378.0, 222097.0]
acs           Divorced, Females 15 years and over                           REAL           [264531.0, 269373.0, 273324.0, 273965.0, 274529.0]
acs           Population 3 years and over enrolled in school                REAL           [1220805.0, 1222995.0, 1215753.0, 1206014.0, 1193757.0]
acs           Population 25 years and over                                  REAL           [3166424.0, 3193338.0, 3217902.0, 3239351.0, 3261408.0]
acs           Less than 9th grade                                           REAL           [187882.0, 180671.0, 174324.0, 166885.0, 162018.0]
acs           9th to 12th grade, no diploma                                 REAL           [363148.0, 358529.0, 350044.0, 343006.0, 334018.0]
acs           High school graduate (includes equivalency)                   REAL           [991406.0, 991730.0, 999761.0, 1005295.0, 1009593.0]
acs           Some college, no degree                                       REAL           [691686.0, 703243.0, 708087.0, 711180.0, 714201.0]
acs           Associate's degree                                            REAL           [227301.0, 236473.0, 243873.0, 251335.0, 258502.0]
acs           Bachelor's degree                                             REAL           [448117.0, 458393.0, 465268.0, 478812.0, 492382.0]
acs           Graduate or professional degree                               REAL           [256884.0, 264299.0, 276545.0, 282838.0, 290694.0]
acs           Native                                                        REAL           [4610592.0, 4631045.0, 4651201.0, 4663396.0, 4675660.0]
acs           Foreign born                                                  REAL           [166734.0, 168232.0, 166477.0, 167224.0, 165504.0]
acs           Language other than English                                   REAL           [230806.0, 235741.0, 235709.0, 235540.0, 233260.0]
acs           Population 16 years and over                                  INTEGER        [3779457, 3806434, 3828799, 3846845, 3864302]
acs           In labor force                                                INTEGER        [2265008, 2259344, 2253005, 2242401, 2238654]
acs           Civilian labor force                                          INTEGER        [2248665, 2244093, 2239169, 2229422, 2226504]
acs           Employed                                                      INTEGER        [2017887, 2002163, 2010453, 2022325, 2042025]
acs           Unemployed                                                    INTEGER        [230778, 241930, 228716, 207097, 184479]
acs           Armed Forces                                                  INTEGER        [16343, 15251, 13836, 12979, 12150]
acs           Not in labor force                                            INTEGER        [1514449, 1547090, 1575794, 1604444, 1625648]
acs           Civilian employed population 16 years and over                INTEGER        [2017887, 2002163, 2010453, 2022325, 2042025]
acs           Management, business, science, and arts occupations           INTEGER        [643951, 652201, 661335, 673400, 685523]
acs           Service occupations                                           INTEGER        [332351, 335865, 339569, 339082, 339793]
acs           Sales and office occupations                                  INTEGER        [507206, 494371, 489899, 488066, 489112]
acs           Natural resources, construction, and maintenance occupations  INTEGER        [218389, 209494, 203989, 200200, 199303]
acs           Production, transportation, and material moving occupations   INTEGER        [315990, 310232, 315661, 321577, 328294]
acs           Median family income (dollars)                                INTEGER        [54326, 54362, 54724, 55341, 56828]
acs           Mean family income (dollars)                                  INTEGER        [70237, 70661, 71423, 71994, 74189]
acs           Per capita income (dollars)                                   INTEGER        [23587, 23680, 23936, 24091, 24736]
acs           Civilian noninstitutionalized population                      INTEGER        [4693822, 4716915, 4735953, 4749786, 4761291]
acs           With health insurance coverage                                INTEGER        [4039446, 4061521, 4095677, 4148627, 4208373]
acs           With private health insurance                                 INTEGER        [3112613, 3093955, 3097222, 3122837, 3162223]
acs           With public coverage                                          INTEGER        [1524117, 1568842, 1607735, 1648163, 1687781]
acs           No health insurance coverage                                  INTEGER        [654376, 655394, 640276, 601159, 552918]
acs           Total housing units_y                                         INTEGER        [2172647, 2178116, 2190638, 2199329, 2209335]
acs           Occupied housing units                                        INTEGER        [1837576, 1838683, 1842174, 1848325, 1851061]
acs           Vacant housing units                                          INTEGER        [335071, 339433, 348464, 351004, 358274]
acs           Homeowner vacancy rate                                        REAL           [2.5, 2.5, 2.6, 2.5, 2.4]
acs           Rental vacancy rate                                           REAL           [9.0, 8.9, 9.0, 9.0, 9.4]
acs           Median rooms                                                  REAL           [5.7, 5.7, 5.7, 5.7, 5.7]
acs           Median (dollars), Value                                       INTEGER        [122300, 122500, 123800, 125500, 128500]
acs           Owner-occupied units                                          INTEGER        [1289324, 1281604, 1274196, 1269145, 1267824]
acs           Housing units with a mortgage                                 INTEGER        [776946, 762450, 751234, 738618, 730637]
acs           Housing units without a mortgage                              INTEGER        [512378, 519154, 522962, 530527, 537187]
acs           Median (dollars), Rent                                        INTEGER        [691, 705, 715, 717, 728]
acs           No rent paid                                                  INTEGER        [63064, 62178, 62842, 63906, 65161]


Always quote the table columns used in the query.

If you are not able to exactly answer the question, please return the following message:

I am not able to answer the question exactly.


SELECT "Geography", "YEAR", "5 to 9 years" AS "Nine Year Olds in Kentucky"
FROM "acs"
WHERE "Geography" LIKE '0400000US21'
AND "YEAR" >= 2012;
[('0400000US21', 2012, 280790), ('0400000US21', 2013, 282464), ('0400000US21', 2014, 282577), ('0400000US21', 2015, 281090), ('0400000US21', 2016, 282564), ('0400000US21', 2017, 280088), ('0400000US21', 2018, 281151), ('0400000US21', 2019, 275466), ('0400000US21', 2020, 275013), ('0400000US21', 2021, 279548)]

Please put the following result in readable format:

[('0400000US21', 2012, 280790), ('0400000US21', 2013, 282464), ('0400000US21', 2014, 282577), ('0400000US21', 2015, 281090), ('0400000US21', 2016, 282564), ('0400000US21', 2017, 280088), ('0400000US21', 2018, 281151), ('0400000US21', 2019, 275466), ('0400000US21', 2020, 275013), ('0400000US21', 2021, 279548)]

It was generated by this SQL query:


SELECT "Geography", "YEAR", "5 to 9 years" AS "Nine Year Olds in Kentucky"
FROM "acs"
WHERE "Geography" LIKE '0400000US21'
AND "YEAR" >= 2012;


For the state of Kentucky:

Year | Nine Year Olds
-----|---------------
2012 | 280790
2013 | 282464
2014 | 282577
2015 | 281090
2016 | 282564
2017 | 280088
2018 | 281151
2019 | 275466
2020 | 275013
2021 | 279548

In [ ]:
question: str = "How many nine year olds were in Kentucky in 2020?"

table_feature: str = (
    tabulate(table_summaries["acs"], headers=table_headers, tablefmt="plain") + "\n"
)  # grid

id_data_prompt: str = f"""
What columns in the table below:

{table_feature}

Can be used to answer the following question:

{question}
"""

print(id_data_prompt)

In [ ]:
result: str = llm(id_data_prompt)

print(
    id_data_prompt,
    result,
    table_summaries["acs"][0][0],
    table_summaries["acs"][0][1],
    sep=" - ",
)

In [ ]:
len(table_summaries["acs"])

In [ ]:
question: str = "How many nine year olds were in Kentucky in 2020?"

for i in range(len(table_summaries["acs"])):
    table_feature: str = (
        tabulate([table_summaries["acs"][i]], headers=table_headers, tablefmt="plain")
        + "\n"
    )  # grid

    id_data_prompt: str = f"""
    Is the following column:

    {table_feature}

    A candidate to help answer the following question:

    {question}

    Your answer should only be exactly one of the following:
    1) yes,
    2) no, or
    3) maybe
    Ommit punctuation from your response and return it in lower case.
    """

    result: str = llm(id_data_prompt)

    print(result, table_summaries["acs"][i][0], table_summaries["acs"][i][1], sep=" - ")

In [ ]:
question: str = "How many nine year olds were in Kentucky in 2020?"

for i in range(len(table_summaries["acs"])):
    table_feature: str = (
        tabulate([table_summaries["acs"][i]], headers=table_headers, tablefmt="plain")
        + "\n"
    )  # grid

    id_data_prompt: str = f"""
    Can the following column:

    {table_feature}

    Be used in a SQLite query to help answer the following question:

    {question}

    Your answer should only be exactly one of the following:
    1) yes,
    2) no, or
    3) maybe
    Ommit punctuation from your response and return it in lower case.
    """

    result: str = llm(id_data_prompt)

    print(result, table_summaries["acs"][i][0], table_summaries["acs"][i][1], sep=" - ")

question: str = "How many nine year olds were in Kentucky in 2020?"

for i in range(3):  # len(table_summaries["acs"])

    # table_feature: str = tabulate([table_summaries["acs"][i]], headers=table_headers, tablefmt="plain") + "\n"  # grid
    table: str = table_summaries["acs"][i][0]
    feature_name: str = table_summaries["acs"][i][1]
    first_five_values = table_summaries["acs"][i][3]

    id_data_prompt: str = f"""
    Is feature, "{feature_name}", in table, "{table}", with first five values, {first_five_values}, a candidate to help answer any part of the following question:

    {question}

    Your answer should only be exactly one of the following:
    1) yes or 
    2) no
    Ommit punctuation from your response and return it in lower case.
    """

    result: str = llm(id_data_prompt)

    print(id_data_prompt, result, f"{table=}", f"{feature_name}", sep=" - ")

# ACS Data

In [ ]:
acs_df: pd.DataFrame = pd.read_csv(Parameters.acs_path)
acs_df.drop(columns=["Unnamed: 0"], inplace=True)
display(acs_df.info())
display(acs_df.head())

In [ ]:
"""
SELECT SUM(Under 5 years + 5 to 9 years) AS nine_year_olds
FROM acs
WHERE Geography LIKE '0400000US21'
AND YEAR=2020;
"""

(
    acs_df.query("Geography == '0400000US21' and YEAR == 2020")["Under 5 years"].sum()
    + acs_df.query("Geography == '0400000US21' and YEAR == 2020")["5 to 9 years"].sum()
)

In [ ]:
acs_df[acs_df["Geography"] == "0400000US21"]["Geographic Area Name"].unique()

# List all tables in SQLite database

In [ ]:
cursor = Parameters.db_connection.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables: list[tuple] = cursor.fetchall()
tables

# Test OpenAI API Key

In [ ]:
"""
Please provide python code to ask openai a question and retrieve the answer

To ask OpenAI a question and retrieve the answer, you can use the OpenAI API.
Here's an example Python code that demonstrates how to do this using the openai package:

In this example, you need to replace "YOUR_API_KEY" with your actual API key,
which you can obtain by signing up for OpenAI's API at https://beta.openai.com/signup/.

The ask_openai function takes three parameters: the question you want to ask,
the name of the OpenAI model you want to use (e.g., "davinci" or "curie"),
and the max_length of the generated answer (in number of tokens).

The function sends a request to the OpenAI API using the openai.Completion.create method,
which takes the engine, prompt, and max_tokens as parameters. The response is a list of
completions (i.e., possible answers), and we take the first one (which is usually the most likely answer)
and return it as a string.
"""

openai.api_key = Parameters.openai_api_key  # "YOUR_API_KEY" # replace with your API key


def ask_openai(question, model, max_length):
    prompt = f"Q: {question}\nA:"
    completions = openai.Completion.create(
        engine=model, prompt=prompt, max_tokens=max_length
    )
    answer = completions.choices[0].text.strip()
    return answer


# Example usage
question = "What is the capital of France?"
model = "davinci"
max_length = 100
answer = ask_openai(question, model, max_length)
print(answer)

# [LangChain](https://pypi.org/project/langchain/)
https://coinsbench.com/chat-with-your-databases-using-langchain-bb7d31ed2e76  
https://medium.com/@hannanmentor/python-custom-chatgpt-with-your-own-data-f307635dd5bd

## Check that LangChain works

In [ ]:
# Simple LLM call Using LangChain
llm = OpenAI(model_name="text-davinci-003", openai_api_key=Parameters.openai_api_key)
question = "Which language is used to create chatgpt ?"
print(question, llm(question))

## Prompt template

In [ ]:
# Creating a prompt template and running the LLM chain
template = "What are the top {n} resources to learn {language} programming?"
prompt = PromptTemplate(template=template, input_variables=["n", "language"])
chain = LLMChain(llm=llm, prompt=prompt)
input_ = {"n": 3, "language": "Python"}
print(chain.run(input_))

In [ ]:
type(prompt)

In [ ]:
# SQLDatabase.create_table_from_df(df=acs_df, table_name="acs", db_connection=Parameters.db_connection)  # Create table from dataframe

In [ ]:
# Use LangChain to answers quetions using a SQLite3 database
llm = OpenAI(model_name="text-davinci-003", openai_api_key=Parameters.openai_api_key)
dburi = "sqlite:///Data/acs.sqlite3"
db = SQLDatabase.from_uri(dburi)
question = "What is the population of Kentucky?"
print(question, llm(question, db))

https://python.langchain.com/docs/expression_language/cookbook/sql_db

In [ ]:
template = """Based on the table schema below, write a SQL query that would answer the user's question:
{schema}

Question: {question}
SQL Query:"""
prompt = ChatPromptTemplate.from_template(template)

In [ ]:
type(prompt)

In [ ]:
print(prompt)

In [ ]:
# db = SQLDatabase.from_uri("sqlite:///Data/data.sqlite3")
db = SQLDatabase.from_uri("sqlite:///Data/acs.sqlite3")

In [ ]:
result = db.run("SELECT * FROM acs LIMIT 5")
result

In [ ]:
result: list[tuple] = ast.literal_eval(db.run("SELECT * FROM acs LIMIT 5"))
print(result)

In [ ]:
def get_schema(_):
    return db.get_table_info()

In [ ]:
def run_query(query):
    return db.run(query)

In [ ]:
model = ChatOpenAI()

sql_response = (
    RunnablePassthrough.assign(schema=get_schema)
    | prompt
    | model.bind(stop=["\nSQLResult:"])
    | StrOutputParser()
)

In [ ]:
sql_response.invoke({"question": "How many geographic areas are in the acs table?"})

In [ ]:
print(get_schema(_))

In [ ]:
type(sql_response)

In [ ]:
sql_response

In [ ]:
openai.api_key = Parameters.openai_api_key


def count_tokens(prompt):
    response = openai.Completion.create(
        engine="davinci",
        prompt=prompt,
        max_tokens=0,
        n=1,
        stop=None,
        temperature=0.0,
        logprobs=0,
        echo=True,
    )
    return len(response.choices[0].text.split())


prompt = "This is a prompt to count tokens."
print(count_tokens(prompt))  # Output: 6

In [ ]:
prompt = get_schema(_)
print(count_tokens(prompt))

In [ ]:
# setup llm
llm = ChatOpenAI()  # OpenAI(temperature=0, openai_api_key=Parameters.openai_api_key)

dburi = "sqlite:///Data/acs.sqlite3"
db = SQLDatabase.from_uri(dburi)

# Create db chain
QUERY = """
Given an input question: first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.

Use the following format:
Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

{question}
"""

# Setup the database chain
db_chain = SQLDatabaseChain.from_llm(llm=llm, db=db, verbose=True)


def get_prompt():
    print("Type 'exit' to quit")

    while True:
        prompt = input("Enter a prompt: ")

        if prompt.lower() == "exit":
            print("Exiting...")
            break
        else:
            try:
                question = QUERY.format(question=prompt)
                print(db_chain.run(question))
            except Exception as e:
                print(e)


get_prompt()

Given an input question:
1) Create a syntactically correct SQLite query to run and then
2) Look at the results of the query and return the answer.

Given an input question:
1) Create a syntactically correct SQLite query,
2) Run the query,
3) Look at the results of the query, and
4) Return the answer.

In [ ]:
template = """Based on the table schema below, write a SQL query that would answer the user's question:
{schema}

Question: {question}
SQL Query:"""
prompt = ChatPromptTemplate.from_template(template)

In [ ]:
model = ChatOpenAI()

sql_response = (
    RunnablePassthrough.assign(schema=get_schema)
    | prompt
    | model.bind(stop=["\nSQLResult:"])
    | StrOutputParser()
)

In [ ]:
sql_response.invoke({"question": "How many geographic areas are in the acs table?"})

In [ ]:
# setup llm
llm = ChatOpenAI()  # OpenAI(temperature=0, openai_api_key=Parameters.openai_api_key)

dburi = "sqlite:///Data/acs.sqlite3"
db = SQLDatabase.from_uri(dburi)

# Create db chain
QUERY = """
Given an input question: first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.

Use the following format:
Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

{question}
"""

# Setup the database chain
db_chain = SQLDatabaseChain.from_llm(llm=llm, db=db, verbose=True)

print("Type 'exit' to quit")

prompt = input("Enter a prompt: ")

if prompt.lower() == "exit":
    print("Exiting...")
else:
    try:
        sql_response.invoke({"question": prompt})
        question = sql_response  # prompt  # QUERY.format(question=prompt)
        print(db_chain.run(question))
    except Exception as e:
        print(e)

In [ ]:
# How many nine year olds were in Kentucky in 2020

In [ ]:
for k, v in db_chain.dict()["llm_chain"]["prompt"].items():
    print(k)
    print(v)
    print()