https://pypi.org/project/sketch/
https://pypi.org/project/pandas-llm/
https://coinsbench.com/chat-with-your-databases-using-langchain-bb7d31ed2e76
https://medium.com/@hannanmentor/python-custom-chatgpt-with-your-own-data-f307635dd5bd
https://cyberdioxide.medium.com/code-your-own-chatgpt-9b58b271490b

pip freeze > requirements.txt

In [27]:
import os
import sketch
import pandas as pd
from pandas_llm import PandasLLM
from collections import namedtuple
from typing import NamedTuple

In [2]:
# Pandas DataFrame type hint
PandasDF = pd.DataFrame

In [3]:
# NamedTuple type hint
class ParametersType(NamedTuple):
    acs_path: str

In [4]:
Parameters: ParametersType = ParametersType(
    acs_path = './Data/ACS_2012_21.csv',
)

In [14]:
acs_df: PandasDF = pd.read_csv(Parameters.acs_path)
acs_df.drop(columns=["Unnamed: 0"], inplace=True)
display(acs_df.info())
display(acs_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 95 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Geography                                                     520 non-null    object
 1   Geographic Area Name                                          520 non-null    object
 2   Total population                                              520 non-null    int64
 3   Male                                                          520 non-null    int64
 4   Female                                                        520 non-null    int64
 5   Under 5 years                                                 520 non-null    int64
 6   5 to 9 years                                                  520 non-null    int64
 7   10 to 14 years                                                520 non-null    int64
 8   15 to 19 years                                                520 non-null    int64
 9   20 to 24 years                                                520 non-null    int64
 10  25 to 34 years                                                520 non-null    int64
 11  35 to 44 years                                                520 non-null    int64
 12  45 to 54 years                                                520 non-null    int64
 13  55 to 59 years                                                520 non-null    int64
 14  60 to 64 years                                                520 non-null    int64
 15  65 to 74 years                                                520 non-null    int64
 16  75 to 84 years                                                520 non-null    int64
 17  85 years and over                                             520 non-null    int64
 18  Median age (years)                                            520 non-null    float64
 19  18 years and over                                             520 non-null    int64
 20  21 years and over                                             520 non-null    int64
 21  65 years and over                                             520 non-null    int64
 22  One race                                                      520 non-null    int64
 23  Two or more races                                             520 non-null    int64
 24  White                                                         520 non-null    int64
 25  Black or African American                                     520 non-null    int64
 26  American Indian and Alaska Native                             520 non-null    int64
 27  Asian                                                         520 non-null    int64
 28  Native Hawaiian and Other Pacific Islander                    520 non-null    int64
 29  Some other race                                               520 non-null    int64
 30  Hispanic or Latino (of any race)                              520 non-null    int64
 31  Not Hispanic or Latino                                        520 non-null    int64
 32  Total housing units_x                                         520 non-null    int64
 33  YEAR                                                          520 non-null    int64
 34  Total households                                              510 non-null    float64
 35  Households with one or more people under 18 years             510 non-null    float64
 36  Households with one or more people 65 years and over          510 non-null    float64
 37  Average household size                                        510 non-null    float64
 38  Males 15 years and over                                       510 non-null    float64
 39  Never married, Males 15 years and over                        510 non-null    float64
 40  Now married, except separated, Males 15 years and over        510 non-null    float64
 41  Separated, Males 15 years and over                            510 non-null    float64
 42  Widowed, Males 15 years and over                              510 non-null    float64
 43  Divorced, Males 15 years and over                             510 non-null    float64
 44  Females 15 years and over                                     510 non-null    float64
 45  Never married, Females 15 years and over                      510 non-null    float64
 46  Now married, except separated, Females 15 years and over      510 non-null    float64
 47  Separated, Females 15 years and over                          510 non-null    float64
 48  Widowed, Females 15 years and over                            510 non-null    float64
 49  Divorced, Females 15 years and over                           510 non-null    float64
 50  Population 3 years and over enrolled in school                510 non-null    float64
 51  Population 25 years and over                                  510 non-null    float64
 52  Less than 9th grade                                           510 non-null    float64
 53  9th to 12th grade, no diploma                                 510 non-null    float64
 54  High school graduate (includes equivalency)                   510 non-null    float64
 55  Some college, no degree                                       510 non-null    float64
 56  Associate's degree                                            510 non-null    float64
 57  Bachelor's degree                                             510 non-null    float64
 58  Graduate or professional degree                               510 non-null    float64
 59  Native                                                        510 non-null    float64
 60  Foreign born                                                  510 non-null    float64
 61  Language other than English                                   510 non-null    float64
 62  Population 16 years and over                                  520 non-null    int64
 63  In labor force                                                520 non-null    int64
 64  Civilian labor force                                          520 non-null    int64
 65  Employed                                                      520 non-null    int64
 66  Unemployed                                                    520 non-null    int64
 67  Armed Forces                                                  520 non-null    int64
 68  Not in labor force                                            520 non-null    int64
 69  Civilian employed population 16 years and over                520 non-null    int64
 70  Management, business, science, and arts occupations           520 non-null    int64
 71  Service occupations                                           520 non-null    int64
 72  Sales and office occupations                                  520 non-null    int64
 73  Natural resources, construction, and maintenance occupations  520 non-null    int64
 74  Production, transportation, and material moving occupations   520 non-null    int64
 75  Median family income (dollars)                                520 non-null    int64
 76  Mean family income (dollars)                                  520 non-null    int64
 77  Per capita income (dollars)                                   520 non-null    int64
 78  Civilian noninstitutionalized population                      520 non-null    int64
 79  With health insurance coverage                                520 non-null    int64
 80  With private health insurance                                 520 non-null    int64
 81  With public coverage                                          520 non-null    int64
 82  No health insurance coverage                                  520 non-null    int64
 83  Total housing units_y                                         520 non-null    int64
 84  Occupied housing units                                        520 non-null    int64
 85  Vacant housing units                                          520 non-null    int64
 86  Homeowner vacancy rate                                        520 non-null    float64
 87  Rental vacancy rate                                           520 non-null    float64
 88  Median rooms                                                  520 non-null    float64
 89  Median (dollars), Value                                       520 non-null    int64
 90  Owner-occupied units                                          520 non-null    int64
 91  Housing units with a mortgage                                 520 non-null    int64
 92  Housing units without a mortgage                              520 non-null    int64
 93  Median (dollars), Rent                                        520 non-null    int64
 94  No rent paid                                                  520 non-null    int64
dtypes: float64(32), int64(61), object(2)
memory usage: 386.1+ KB

None

,Geography,Geographic Area Name,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,...,Vacant housing units,Homeowner vacancy rate,Rental vacancy rate,Median rooms,"Median (dollars), Value",Owner-occupied units,Housing units with a mortgage,Housing units without a mortgage,"Median (dollars), Rent",No rent paid
0,0400000US01,Alabama,4777326,2317520,2459806,305091,309360,318484,337159,340808,...,335071,2.5,9.0,5.7,122300,1289324,776946,512378,691,63064
1,0400000US01,Alabama,4817678,2336020,2481658,299571,304412,321104,327579,347110,...,339433,2.5,8.9,5.7,122500,1281604,762450,519154,705,62178
2,0400000US01,Alabama,4799277,2328592,2470685,301925,306456,320031,332287,345240,...,348464,2.6,9.0,5.7,123800,1274196,751234,522962,715,62842
3,0400000US01,Alabama,4841164,2346193,2494971,292771,305707,313980,324809,342489,...,351004,2.5,9.0,5.7,125500,1269145,738618,530527,717,63906
4,0400000US01,Alabama,4830620,2341093,2489527,295054,305714,318437,324020,348044,...,358274,2.4,9.4,5.7,128500,1267824,730637,537187,728,65161

# Sketch
https://pypi.org/project/sketch/

In [30]:
questions: set[str] = {
    "Which columns are integer type?",
    "How to plot the distribution of the columns?",
    "How to plot Male and Female population distributions?",
    "Is there any association between the Male and Female columns?",
}

In [31]:
for q in questions:
    print(q)
    acs_df.iloc[:, :19].sketch.ask(f"{q}")
    print()

How to plot Male and Female population distributions?

Is there any association between the Male and Female columns?

Which columns are integer type?

How to plot the distribution of the columns?

# pandas-LLM
https://pypi.org/project/pandas-llm/  

NEED TO ADD API KEY

# Data
# Please note that these names, ages, and donations are randomly generated 
# and do not correspond to real individuals or their donations.
data = [('John Doe', 25, 50), 
        ('Jane Smith', 38, 70),
        ('Alex Johnson', 45, 80),
        ('Jessica Brown', 60, 40),
        ('Michael Davis', 22, 90),
        ('Emily Wilson', 30, 60),
        ('Daniel Taylor', 35, 75),
        ('Sophia Moore', 40, 85),
        ('David Thomas', 50, 65),
        ('Olivia Jackson', 29, 55)]
df = pd.DataFrame(data, columns=['name', 'age', 'donation'])

conv_df = PandasLLM(data=df, llm_api_key = os.environ.get("OPENAI_API_KEY"))
result = conv_df.prompt("What is the average donation of people older than 40 who donated more than $50?")
code = conv_df.code_block

print(f"Executing the following expression of type {type(result)}:\n{code}\n\nResult is:\n {result}\n")
# Executing the following expression of type <class 'numpy.float64'>:
# result = df.loc[(df['age'] > 40) & (df['donation'] > 50), 'donation'].mean()

# Result is:
#  72.5

# LangChain
https://coinsbench.com/chat-with-your-databases-using-langchain-bb7d31ed2e76  
https://medium.com/@hannanmentor/python-custom-chatgpt-with-your-own-data-f307635dd5bd  

NEED TO ADD API KEY